@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Dosis:wght@500&family=Open+Sans&family=Poppins&family=Raleway:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

a{
    text-decoration: none !important;
    color: black !important;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#1B262C;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    z-index: 100;
}

header img{
    height: 100px;
    width: 100px;
}
.logoinom{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header div ul{
    word-spacing: 50px;
}
header div ul li{
    color: white;
    display: inline;
    list-style: none;
}
header div ul a{
    text-decoration: none;
    color: black;
    transition: ease-in-out .2s;
}
.carroussel img{
    height: 800px;
    border-radius: 10px;
}
.carroussel{
    padding: 50px 200px 50px 200px;
}
.history{
    display: flex;
    justify-content: center;
    padding: 10%;
    background-color: rgb(248, 245, 245);
    align-items: center;
}
.history p{
    padding-left: 5%;
    text-align: justify;
}
.history img{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(131, 131, 131);
}
footer{
    text-align: center;
    padding: 20px;
    vertical-align: middle;
    background-color: #1B262C;
    color: white;
}
.travesses{
    display: flex;
    justify-content: space-around;
}
.jornada{
    color: #1B262C;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    flex-wrap: wrap;
    padding: 5%;
    border-radius: 10px;    
}
.travesses aside{
    background-color: #1b262cf5;
    width: 301px;
    text-align: center;
    padding: 30px;
    height: 100vh;
    margin: 0;
}
.travesses aside button{
    margin-bottom: 3em;
    border: none;
    height: 3em;
    width: 100%;
    background-color: #1B262C;
    box-shadow: 0 2px 10px #1B262C;
    color: white;
    border-radius: 5px;
    transition: ease-in-out .2s;
}

.travesses aside button:hover{
    box-shadow: none;
    transition: ease-in-out .2s;
}

.jornada img{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(131, 131, 131);
    height: 500px;
}
.jornades{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.amagat{
    display: none;
}

.generarTravesses{
    display: flex;
    justify-content: center;
    margin: 10em;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}
table tr th{
    /* border: solid 1px #1B262C; */
    padding: 2em;
}
table tr{
    border-bottom: solid #1B262C 1px;
}
.headingTable, .idTable{
    background-color: #1b262cf5;
    color: white;
}
.inputs{
    margin: 0 1em 0 1em;
}
.generarTravesses .confirmarQuiniela{
    background-color: #1B262C;
    color: white;
    width: 80%;
    /* padding: 10px; */
    margin: 10px;
    height: 3em;
    border-radius: 10px;
}

.resultatCorrecte{
    border: solid #36e67a 5px;
    border-radius: 5px ;
}

.encerts{
    margin: 3em;
    font-size: larger;
    font-weight: bolder;
    
}

.selects{
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #1B262C 1px;
}
.selects option{
 text-align: center;
}

@media screen and (max-width: 1000px) {
    .history{
        flex-wrap: wrap;
    }
    .history img{
        height: 200px;
        margin-bottom: 20px;
    }
    .carroussel img{
        height: auto;
    }
    .carroussel{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body form{
        margin: 0px;
        padding-left: 10px;
        width: 400px;
        padding-right: 40px;
    }
    body .form{
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 200px;
    }
    .travesses{
        margin-top: 10px;
        display: inline;
    }
    .travesses aside{
        width: auto;
        text-align: center;
        padding: 30px;
    }
    .jornada{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1600px;
        flex-wrap: wrap;
        padding: 5%;
    }
    .jornada img{
        display: none;
    }
    .jornades img{
        height: 300px;
        transform: rotate(90deg);
    }
    .jornades{
        margin-bottom: 0;
    }
}